<%=form_for :inquiry do |f| %>

<div class="row">
	<div class="col-lg-6 text-right">
		<h2>Your Expense This Period</h2>
		<h3><strong><%=@total_value%></strong></h3>
	</div>
	<div class="col-lg-6 text-right">
		<h2>Your Account</h2>
		<h3><strong> <%=@total_account%> </strong></h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
	<div class="form-group">
		<%= f.label :category %>
		<%= f.select :category, @categories, {include_blank: false} ,{:class=> "form-control"}  %>
		<%= f.label :name %>	
		<%= f.text_field :name,:class => "form-control" %>
		<%= f.label :value %>	
		<%= f.text_field :value,:class => "form-control" %>
	</div>
		
		<%= f.submit :class => "btn btn-primary" %>
	</div>
</div>
<% end %>

<div class="pagination">
	<%= will_paginate @inquiries%>	
</div>

<table class="table">
<thead>
	<tr>
		<th>Name</th>
		<th>Category</th>
		<th>Value</th>
		<th>Action</th>
	</tr>
</thead>
<tbody>
	<%@inquiries.each do |inquiry|%>
	<tr style="background: <%= inquiry.color  %>;">
		<td><%= inquiry.name %></td>
		<td><%= inquiry.category %></td>
		<td><%= inquiry.value %></td>
		<td>
			<%=form_tag "/delete" do %>
				<%= hidden_field_tag :id,inquiry.id %>
				<%= submit_tag "Delete", :class => "btn btn-danger" %>
			<% end %>
		</td>
	</tr>
	<% end %>
</tbody>
</table>